.appbar {
    text-transform: uppercase;
    border-top: groove rgb(46, 33, 13);
    border-bottom: groove rgb(22, 26, 13);
    border-width: 0.1rem;
    padding: 4px 0 4px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Nike TG","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 4rem;
}
h2 {
    color:black;
    font-size: 2vw;
}

.genders img{
    height: 10vh;
    transition: .5s ease;
    margin-left: 1rem;
    max-height: 100%;
}
.genders img:hover {
    opacity: 0.6;
}
.logo {
    padding-left: 1rem;
    align-self: center;
}
.logo h2 {
    display: inline;
}
.logo img {
    display: inline;
    height: 2rem;
}
.cart {
    padding-right: 1rem;
}
img.cart {
    max-height: 100%;
}